.connectFourBoard {
	width: 85%;
	max-width: 868px;
	display: inline-block;
	border-left: 5px solid black;
	border-right: 5px solid black;
	column-count: 7;
	column-gap: 5px;
	column-rule: 5px outset black;
}

.connectFourBoard__column {
}

.connectFourBoard__row {
	min-height: 60px;
	border-bottom: 5px solid black;
}

.token {
	border-radius: 50%;
	width: 60px;
	height: 60px;
}