@import '../variables.scss';

body {
    display: block;
    margin: 0px;
    padding: 0px;
}

.app {
	font-family: Verdana,Geneva,'Bitstream Vera Sans','DejaVu Sans',sans-serif;
	font-weight: lighter;
	font-size: 16px;
    line-height: 24px;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Verdana,Geneva,'Bitstream Vera Sans','DejaVu Sans',sans-serif;
	font-weight: lighter;
}

h1 {
	color: #ffffff;
    font-size: 63px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 32px;
}

.container {
    margin: auto;
    padding: 50px 180px;
    text-align: center;
    max-width: 1280px;
}

.content {
    position: relative;
    text-align: left;
    display: block;
    margin: 0px;
    padding: 0px;
}
.content__block {
    margin: 20px auto;
    text-align: justify;
}

.content__block__fat {
    @extend .content__block;
    font-weight: normal;
}