@import '../variables.scss';

body {
    display: block;
    margin: 0px;
    padding: 0px;
}

.app {
	font-family: Verdana,Geneva,'Bitstream Vera Sans','DejaVu Sans',sans-serif;
	font-weight: lighter;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Verdana,Geneva,'Bitstream Vera Sans','DejaVu Sans',sans-serif;
	font-weight: lighter;
}

h1 {
    font-size: 63px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

.container {
    margin: auto;
    padding: 50px 180px;
    text-align: center;
    max-width: 1280px;
}

@media screen and (max-device-width: $smallDeviceWidth) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 20px;
    }
    .container {
        padding: 2%;
    }
}

@media screen and (max-device-width: $tinyDeviceWidth) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }
    .container {
        padding: 1%;
    }
}

