@import '../../variables.scss';
.imprint {
    position: relative;
    text-align: left;
}
.imprint__block {
    margin: 20px auto;
    text-align: justify;
}

.imprint__block__fat {
    @extend .imprint__block;
    font-weight: bold;
}
