@import '../variables.scss';

.header__fixel__moving {
    position: relative;
    top: 22%;
    text-align: right;
    width: 100%;
    height: 100%;
    animation-name: fixel-express-running;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes fixel-express-running {
    0%   { right: -50%; }
    50%  { right: 20% }
    100% { right: 120%;}
}

@keyframes fixel-express-running-mobile {
    0%   { right: -120%; }
    50%  { right: 10% }
    100% { right: 140%;}
}