@import '../variables.scss';

.fixHeaderBox {
	position: absolute;
	top: 30px;
	right: 20px;
	border: 2px dashed  $lightGrey;
	border-radius: 10px;
	box-shadow: 10px 10px 5px $lightGrey;
	width: 200px;
	height: 120px;
	transform: rotate(10deg);
	animation-name: fade-in;
	animation-duration: 3.5s;
}

.fix__arrow {
	position: absolute;
	right: 0;
	bottom: 0;
	background-image: url('/img/arrow.svg');
	background-repeat: no-repeat;
}

@keyframes fade-in {
	0% { opacity: 0; }
	80% { opacity: 0; }
	100% { opacity: 1; }

}