@import '../variables.scss';

.about {
    padding-top: $headerHeight;
    text-align: center;
}

.about__img {
    background-image: url('/img/little-me.jpg');
    border-radius: 450px / 600px;
    height: 395px;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 295px;
    transition: 300ms ease-in-out;

}

.about__img:hover {
    background-image: url('/img/profile.jpg');
    transition: 300ms ease-in-out;
}

.about__description {
    align: center;
    left: 25%;
    position: relative;
    width: 50%;
}

.about__description p {
    margin: 20px auto;
    max-width: 640px;
    text-align: justify;
}

@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 540px) {
    .about__description {
        width: $handheldContentWidth;
        top: 7%;
        left: $handheldContentLeft;
        font-size: 13px; 
    }
}