@import '../variables.scss';

main {
    padding-top: $headerHeight;
    text-align: center;
}

.about__img {
    margin-top: 2em;
    margin-bottom: 1em;
}

.about__description {
    width: 50%;
    top: 25%;
    left: 25%;
    align: center;
    text-align: justify;
    position: relative;
}

@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 520px) {
    .about__description {
        width: $handheldContentWidth;
        top: 7%;
        left: $handheldContentLeft;
        font-size: 13px; 
    }
}