@import '../../variables.scss';
.cover {
    height: 100vh;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: $customBlue;
}

.cover__title {
    top: 28%;
    position: relative;
    h1 {
        padding-bottom: 20px;
        display: inline-block;
        border-bottom: 1px solid $customWhite;
        font-size: 58px;
    }
    p {
        font-size: 24px;
        color: $customWhite;
    }

    -webkit-animation: fadein 2s;
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.profile {
    h2 {
        color: $customBlue;
    }
}

.profile_content {
}

.profile_content__description {
    text-align: justify;
    h3 {
        color: $customBlue;
    }
}

.profile_content__image {
    text-align: center;
    img {
        vertical-align: middle;
        border-radius: 450px / 600px;
    }
}

.cover__img {
    background-image: url('/img/little-me-small.jpg');
    border-radius: 450px / 600px;
    height: 395px;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 295px;
    transition: 300ms ease-in-out;

}

.cover__img:hover {
    background-image: url('/img/profile-small.jpg');
    transition: 300ms ease-in-out;
}

.cover__description {
    align: center;
    left: 25%;
    position: relative;
    width: 50%;
}

.cover__description p {
    margin: 20px auto;
    max-width: 640px;
    text-align: justify;
}

.gopher__left {
    position: absolute;
    top: 550px;
    border: none;
    background-image: url('/img/gopher_straight_look_rotated.svg');
    background-repeat: no-repeat;
    height: 200px;
    width: 280px;
    animation-name: gopher-slide;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes gopher-slide {
    0%   {left: -290px; }
    25%   {left: -290px; }
    30% {left: -120px; }
    75% {left: -120px; }
    80% {left: -290px; }
    100%   {left: -290px; }
}

@media screen and (min-device-width: 320px) and (max-device-width: 540px) {
    .cover__description {
        width: $handheldContentWidth;
        left: $handheldContentLeft;
        font-size: 13px; 
    }
    .gopher__left {
        display: none;
    }
}