@import '../../variables.scss';
.cover {
    height: 100vh;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: $customBlue;
}

.cover__title {
    top: 32%;
    position: relative;
    color: $customWhite;
    h1 {
        padding-bottom: 20px;
        display: inline-block;
        border-bottom: 1px solid $customWhite;
    }

    -webkit-animation: fadein 2s;
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.profile {
    h2 {
        color: $customBlue;
    }
}

.profile_content {
    font-size: 16px;
    line-height: 24px;
}

.profile_content__description {
    text-align: justify;
    h3 {
        color: $customBlue;
    }
}

@media screen and (max-device-width: $smallDeviceWidth) {
    .profile_content__description {
        padding: 7%;
    }
}

.profile_content__image {
    text-align: center;
    img {
        vertical-align: middle;
        border-radius: 50%;
    }
}