@import '../variables.scss';

header {
    height: $headerHeight;
    width: 97%;
    border: 2px solid $lightGrey;
    border-radius: 9px;
    margin: 0 auto;
    z-index: 100;
    float: left;
    line-height: $headerHeight / 2;
}

