$headerHeight: 95px;
$handheldContentWidth: 95%;
$handheldContentLeft: 2%;
$lightGrey: #C6CCCF; 
$grey: #BBBEBF;
$footerTransitionTime: 300ms;

$xingGreen: #b0d400;
$githubBlue: #4078c0;
$facebookBlue: #3C5A99;