@import '../variables.scss';

footer {
    margin-top: 20px;
    height: 80px;
    width: 100%;
    float: left;
    line-height: 40px;
    overflow: hidden;
}

.social {
    background: #EDEDED;
    border: 2px solid $lightGrey;
    border-radius: 9px;
    width: 50%;
    left: 25%;
    position: relative;
    float: left;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .social {
        width: 96%;
        left: 2%;
        position: relative;
        padding-top: 1em;
        float: left;
        text-align: center;
    }
}

.social__link {
    display: inline-block;
    margin: 20px 20px 0 20px;
}

svg {
    width: 40px;
    height: 40px;
}

svg:hover {
    transform: scale(1.2);
    transition: $footerTransitionTime;
}

.xing__animated:hover .xing__animated__white {
    fill: white;
    transition-timing-function: ease-in-out;
    transition: $footerTransitionTime;
}

.xing__animated:hover .xing__animated__green {
    fill: #b0d400;
    transition-timing-function: ease-in-out;
    transition: $footerTransitionTime;
}

.github__animated:hover .github__animated__blue {
    fill: #4078c0;
    transition-timing-function: ease-in-out;
    transition: $footerTransitionTime;
}

.facebook__animated:hover .facebook__animated__blue {
    fill: #3C5A99;
    transition-timing-function: ease-in-out;
    transition: $footerTransitionTime;
}

.facebook__animated:hover .facebook__animated__white {
    fill: #FFFFFF;
    transition-timing-function: ease-in-out;
    transition: $footerTransitionTime;
}



