@import '../../variables.scss';

.footer {
	text-align: center;
	background-color: $customGray;
	color: $customWhite;
}

.footer_content {
	ul {
		list-style-type: none;
	}
	a {
		color: $customWhite;
		text-decoration: none;
		opacity: 0.75;
	}
	a:hover {
		opacity: 1;
	}
	span {
		padding: 10px;
	}
	svg {
		position: relative;
		width: 28px;
		height: 28px;
	}
}

.footer_content_social {
	text-align: left;
	li {
		padding: 10px;
	}
}

.footer_content_links li {
	font-size: 24px;
	display: inline;
	padding: 20px 20px;
}

@media screen and (max-device-width: $smallDeviceWidth) {
	.footer {
		ul {
			padding: 0;
		}
	}
	.footer_content_links li {
		padding: 2%;
		font-size: 16px;
	}
	.footer_content_social {
		font-size: 13px;
		li {
			padding: 2%;
		}
	}
}