@import '../../variables.scss';
.about {
    position: relative;
    text-align: center;
}

.about__img {
    background-image: url('/img/little-me-small.jpg');
    border-radius: 450px / 600px;
    height: 395px;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 295px;
    transition: 300ms ease-in-out;

}

.about__img:hover {
    background-image: url('/img/profile-small.jpg');
    transition: 300ms ease-in-out;
}

.about__description {
    align: center;
    left: 25%;
    position: relative;
    width: 50%;
}

.about__description p {
    margin: 20px auto;
    max-width: 640px;
    text-align: justify;
}

.gopher__left {
    position: absolute;
    top: 550px;
    border: none;
    background-image: url('/img/gopher_straight_look_rotated.svg');
    background-repeat: no-repeat;
    height: 200px;
    width: 280px;
    animation-name: gopher-slide;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes gopher-slide {
    0%   {left: -290px; }
    25%   {left: -290px; }
    30% {left: -120px; }
    75% {left: -120px; }
    80% {left: -290px; }
    100%   {left: -290px; }
}

@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 540px) {
    .about__description {
        width: $handheldContentWidth;
        left: $handheldContentLeft;
        font-size: 13px; 
    }
    .gopher__left {
        display: none;
    }
}