@import '../../variables.scss';

.game__properties {
	float: left;
}

.game__new {
	background: $lightGrey;
	border: 2px solid $grey;
	border-radius: 5px;
	width: 120px;
	height: 70px;
}

.game__new:hover {
	opacity: 0.7;
}

.game__new:focus, .game__new:visited {
	outline: none;
}

.game__new:active {
	opacity: 0.9;
}