.token {
	border-radius: 50%;
	width: 54px;
	height: 54px;
	margin: 0 auto;
}

.red {
	border: 7px solid #dd0b07;
	background: #dd0b07;
	background: -moz-linear-gradient(-45deg, #b20505 0%, #e57b7b 49%, #ef0b07 100%);
	background: -webkit-linear-gradient(-45deg, #b20505 0%, #e57b7b 49%,#ef0b07 100%);
	background: linear-gradient(135deg,  #b20505 0%,#e57b7b 49%,#ef0b07 100%);

}

.blue {
	border: 7px solid #0687d0;
	background: #0687d0;
	background: -moz-linear-gradient(-45deg, #1e5799 0%, #7db9e8 49%, #0687e2 100%);
	background: -webkit-linear-gradient(-45deg, #1e5799 0%, #7db9e8 49%, #0687e2 100%);
	background: linear-gradient(135deg,  #1e5799 0%, #7db9e8 49%, #0687e2 100%);
}